
<h1 class="cover-heading">
  <%= @people.length%> matches for <em><%= @name %></em>
</h1>

<div class='container people-cards'>
  <% @people.each do |person| %>
    <h2><%= person.name %></h2>

    <% person.episodes.each_slice(4) do |row| %>
      <div class='row'>

        <% row.each do |episode| %>
          <div class="col-md-3">
            <a href="<%= episode.episode.urls.ui %>">
              <div class="card">
                <img class="card-img-top" src="<%= episode.episode.thumb_image %>">
                <div class="card-body">
                  <h4 class="card-title">
                    <%= episode.episode.show_title %>
                    <em><%= episode.episode.date_created %></em>
                  </h4>
                  <p class="card-text"><%=  episode.episode.title %></p>
                  <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
                </div>
              </div>
            </a>
          </div>
        <% end %>

      </div>
    <% end %>
  <% end %>
</div>
